.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/misc.xml

.idea/misc.xml

.idea/vcs.xml

.idea/misc.xml

*.java

*.json

*.jar

*.class

*.txt

*.properties

*.xml

*.png

*.aar

circlerefresh/build/outputs/aar/circlerefresh-release.aar

circlerefresh/build/outputs/aar/circlerefresh-release.aar
